.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%; }
  .home .top-half {
    width: 100%;
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .home .top-half .ext-loader {
      border: 8px solid #f3f3f3;
      /* Light grey */
      border-top: 8px solid #3498db;
      /* Blue */
      border-radius: 50%;
      width: 32px;
      height: 32px;
      animation: spin 2s linear infinite;
      margin: 2rem auto; }
    .home .top-half .finding-article {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 2rem; }
    .home .top-half .title {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      font-weight: 500; }
    .home .top-half .options {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
      .home .top-half .options .card {
        margin: 0 24px 0 24px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        overflow: hidden;
        width: 30%; }
        .home .top-half .options .card .img-preview img {
          width: 100%;
          height: 120px;
          object-fit: cover; }
        .home .top-half .options .card .card-bottom {
          padding: 12px;
          text-align: left; }
          .home .top-half .options .card .card-bottom .title {
            padding: 0;
            font-size: 1em;
            font-weight: bold; }
          .home .top-half .options .card .card-bottom .info {
            padding-top: 10px; }
            .home .top-half .options .card .card-bottom .info .sentiment-spicy {
              color: #ff4976; }
            .home .top-half .options .card .card-bottom .info .sentiment-hot {
              color: #ff67de; }
            .home .top-half .options .card .card-bottom .info .sentiment-mild {
              color: #af83fb; }
            .home .top-half .options .card .card-bottom .info .sentiment-soft {
              color: #33acdf; }
            .home .top-half .options .card .card-bottom .info .sentiment-bland {
              color: #36cd97; }
    .home .top-half .question {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 1em;
      font-weight: 500; }
    .home .top-half .button-array {
      display: flex;
      flex-direction: row; }
      .home .top-half .button-array .button {
        color: white;
        border: 0;
        padding: 8px 16px;
        margin-right: 16px;
        border-radius: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        cursor: pointer;
        z-index: 100000;
        font-weight: 500; }
      .home .top-half .button-array .yes-button {
        background-color: #35cd96;
        border: 2px solid #35cd96; }
        .home .top-half .button-array .yes-button:hover {
          background-color: #56f7bc;
          -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease; }
      .home .top-half .button-array .no-button {
        background-color: #ff4975;
        border: 2px solid #ff4975; }
        .home .top-half .button-array .no-button:hover {
          background-color: #ff83a2;
          -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease; }
      .home .top-half .button-array .not-related-button {
        color: grey;
        background-color: white;
        border: 2px solid grey; }
        .home .top-half .button-array .not-related-button:hover {
          border: 2px solid #2e2e2e;
          color: #2e2e2e;
          -webkit-transition: border 0.3s ease;
          transition: border 0.3s ease;
          -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease; }
  .home .bottom-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
    .home .bottom-wrapper .bottom-left {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .home .bottom-wrapper .bottom-left .checklist-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid rgba(53, 205, 150, 0.5);
        border-radius: 5px;
        margin: 10px 20px;
        padding: 0 10px; }
        .home .bottom-wrapper .bottom-left .checklist-box .title {
          font-weight: 700; }
        .home .bottom-wrapper .bottom-left .checklist-box .text {
          margin: 10px 0; }
      .home .bottom-wrapper .bottom-left .warning {
        border: 1px solid rgba(255, 73, 117, 0.5); }
    .home .bottom-wrapper .bottom-right {
      width: 50%;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center; }
      .home .bottom-wrapper .bottom-right .recommendations {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        .home .bottom-wrapper .bottom-right .recommendations .count {
          display: flex;
          flex-direction: row; }
          .home .bottom-wrapper .bottom-right .recommendations .count .count-item {
            display: flex;
            flex-direction: column;
            padding: 10px; }
            .home .bottom-wrapper .bottom-right .recommendations .count .count-item .count-stat {
              font-weight: 500;
              font-size: 2em; }
      .home .bottom-wrapper .bottom-right .suggestions {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.feed {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-rows: min-content; }
  .feed .feed__topic {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 60px 1fr;
    grid-template-areas: '_____ title title' 'left articles right'; }
    .feed .feed__topic:last-child {
      margin-bottom: 60px; }
    .feed .feed__topic .feed__topic-title {
      grid-area: title;
      font-size: 1.5rem;
      font-weight: bold;
      margin: auto 0; }
    .feed .feed__topic .feed__icon-left {
      grid-area: left;
      align-self: center;
      text-align: center; }
    .feed .feed__topic .feed__icon-right {
      grid-area: right;
      align-self: center;
      text-align: center; }
    .feed .feed__topic .feed__articles {
      grid-area: articles;
      overflow: hidden;
      padding: 20px 0px;
      display: flex;
      flex-wrap: nowrap;
      gap: 30px; }
      .feed .feed__topic .feed__articles .feed__article {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.25);
        overflow: hidden;
        flex-shrink: 0;
        width: 400px;
        height: 312px;
        align-self: center;
        justify-self: center;
        background-color: white;
        position: relative;
        display: grid;
        grid-template-rows: min-content 1fr; }
        .feed .feed__topic .feed__articles .feed__article:hover {
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
          transition: box-shadow 0.3s ease; }
        .feed .feed__topic .feed__articles .feed__article .article-link {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0; }
        .feed .feed__topic .feed__articles .feed__article .feed__article-img {
          width: 100%;
          padding-top: 56.25%;
          position: relative; }
          .feed .feed__topic .feed__articles .feed__article .feed__article-img img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .feed .feed__topic .feed__articles .feed__article .feed__article-content {
          margin: 12px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .feed .feed__topic .feed__articles .feed__article .feed__article-content .article-title {
            display: -webkit-box;
            max-width: 100%;
            margin: 0 auto;
            -webkit-line-clamp: 2;
            /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
            height: 2rem; }

.sentiment-spicy {
  color: #ff4976; }

.sentiment-hot {
  color: #ff67de; }

.sentiment-mild {
  color: #af83fb; }

.sentiment-soft {
  color: #33acdf; }

.sentiment-bland {
  color: #36cd97; }

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  min-height: 100vh; }
  body .header {
    grid-column: span 2;
    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center; }
    body .header .title {
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 0.4em; }
  body .menubar {
    position: fixed;
    top: 60px;
    width: 240px;
    height: calc(100vh - 60px);
    border-right: 1px solid #d2d2d2; }
    body .menubar .menubar-item {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      padding: 24px 0;
      color: #8a8a8a; }
      body .menubar .menubar-item:hover {
        background-color: #e0e0e0;
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease; }
    body .menubar .active {
      color: #000000; }
      body .menubar .active:hover {
        background-color: #e0e0e0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease; }
  body .contents {
    grid-row: 2/-1;
    grid-column: 2/-1;
    width: 100%;
    background-color: #ffffff; }

/*# sourceMappingURL=dashboard.css.map */
