.root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}
.root .wrapper {
  display: flex;
  flex-direction: row;
}
.root .wrapper .header-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 110;
}
.root .wrapper .header-wrapper .header {
  width: 100%;
  height: 48px;
  padding: 0 12px;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
}
.root .wrapper .header-wrapper .header .title {
  width: 100%;
  height: 100%;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  padding: 12px 0;
}
.root .wrapper .page-wrapper {
  position: fixed;
  left: 0;
  top: 48px;
  height: calc(100vh - 48px);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.root .wrapper .page-wrapper .menubar {
  background-color: slateblue;
  max-width: 420px;
  width: 230px;
  border: 1px solid #d2d2d2;
}
.root .wrapper .page-wrapper .menubar .menubar-item {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 24px 0;
  color: #ffffff;
}
.root .wrapper .page-wrapper .menubar .menubar-item:hover {
  background-color: #8758f9;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.root .wrapper .page-wrapper .menubar .active {
  background-color: #ffffff;
  color: slateblue;
  font-weight: 700;
}
.root .wrapper .page-wrapper .menubar .active:hover {
  color: #8758f9;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.root .wrapper .page-wrapper .contents {
  width: calc(100% - 230px);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}
.root .wrapper .page-wrapper .contents .top-half {
  width: 100%;
  height: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root .wrapper .page-wrapper .contents .top-half .title {
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 500;
}
.root .wrapper .page-wrapper .contents .top-half .title img {
  padding: 0 5px;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-left {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-left .checklist-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgba(53, 205, 150, 0.5);
  border-radius: 5px;
  margin: 10px 20px;
  padding: 0 10px;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-left .checklist-box .title {
  font-weight: 700;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-left .checklist-box .text {
  margin: 10px 0;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-left .warning {
  border: 1px solid rgba(255, 73, 117, 0.5);
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-right {
  width: 50%;
  background-color: coral;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-right .recommendations {
  height: 50%;
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-right .recommendations .count {
  display: flex;
  flex-direction: row;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-right .recommendations .count .count-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-right .recommendations .count .count-item .count-stat {
  font-weight: 500;
  font-size: 2em;
}
.root .wrapper .page-wrapper .contents .bottom-wrapper .bottom-right .suggestions {
  height: 50%;
  background-color: crimson;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=dashboard.css.map */
