.article {
    margin: 0% 2rem;
    border: 0.1em solid rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 2.5px -1px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    width: 60%;
    height: auto;
}

.article-searching {
    margin: 0% 2rem;
    width: 100%;
    height: auto;
}

.article-img {
    /* height: 150px; */
    width: 100%;
}

.article-title {
    margin: 8px 8px;
}

.article-tag {
    margin: 16px 8px;
}

#burstbubble-modal h1 {
    color: black;
    font-size: 28px;
    font-weight: bold;
}

#burstbubble-modal h2 {
    color: black;
    font-size: 24px;
    font-weight: 400;
}

#burstbubble-modal h3 {
    color: black;
    font-size: 18px;
    font-weight: 400px;
}

#burstbubble-modal h4 {
    color: black;
    font-size: small;
}

.my-button {
    color: white;
    border: 0;
    padding: 8px 16px;
    margin-right: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    z-index: 100000;
}

.ext-child {
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 80vh;
    background: white;
    position: fixed;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    overflow: auto;
  }

.ext-modal {
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
}

.ext-sent-bland {
    color: #36CD97;
}

.ext-sent-soft {
    color: #33ACDF;
}

.ext-sent-mild {
    color: #AF83FB
}

.ext-sent-hot {
    color: #FF67DE;
}

.ext-sent-spicy {
    color: #FF4976;
}


.ext-loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 64px;
    height: 64px;
    animation: spin 2s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#close-modal-btn {
    margin-top: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}