.home {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .top-half {
    width: 100%;
    height: 50%;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ext-loader {
      border: 8px solid #f3f3f3; /* Light grey */
      border-top: 8px solid #3498db; /* Blue */
      border-radius: 50%;
      width: 32px;
      height: 32px;
      animation: spin 2s linear infinite;
      margin: 2rem auto;
    }

    .finding-article {
      text-align: center; 
      margin-top: 1rem; 
      margin-bottom: 2rem
    }

    .title {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: 1em;
      font-weight: 500;
    }

    .options {
      display: none;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .card {
        margin: 0 24px 0 24px;

        border-radius: 5px;
        border: 1px solid rgba($color: #000000, $alpha: 0.25);
        overflow: hidden;

        width: 30%;

        .img-preview {
          img {
            width: 100%;
            height: 120px;
            object-fit: cover;
          }
        }

        .card-bottom {
          padding: 12px;
          text-align: left;

          .title {
            padding: 0;
            font-size: 1em;
            font-weight: bold;
          }

          .info {
            padding-top: 10px;
            .sentiment-spicy {
              color: #ff4976;
            }
            .sentiment-hot {
              color: #ff67de;
            }
            .sentiment-mild {
              color: #af83fb;
            }
            .sentiment-soft {
              color: #33acdf;
            }
            .sentiment-bland {
              color: #36cd97;
            }
          }
        }
      }
    }

    .question {
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      font-size: 1em;
      font-weight: 500;
    }

    .button-array {
      display: flex;
      flex-direction: row;

      .button {
        color: white;
        border: 0;
        padding: 8px 16px;
        margin-right: 16px;
        border-radius: 5px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        cursor: pointer;
        z-index: 100000;

        font-weight: 500;
      }

      .yes-button {
        background-color: #35cd96;
        border: 2px solid #35cd96;

        &:hover {
          background-color: #56f7bc;
          -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
        }
      }

      .no-button {
        background-color: #ff4975;
        border: 2px solid #ff4975;

        &:hover {
          background-color: #ff83a2;
          -webkit-transition: background-color 0.3s ease;
          transition: background-color 0.3s ease;
        }
      }

      .not-related-button {
        color: grey;
        background-color: white;
        border: 2px solid grey;

        &:hover {
          border: 2px solid rgb(46, 46, 46);
          color: rgb(46, 46, 46);
          -webkit-transition: border 0.3s ease;
          transition: border 0.3s ease;
          -webkit-transition: color 0.3s ease;
          transition: color 0.3s ease;
        }
      }
    }
  }

  .bottom-wrapper {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .bottom-left {
      width: 50%;
      text-align: center;

      display: flex;
      flex-direction: column;

      justify-content: center;

      .checklist-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border: 1px solid rgba(53, 205, 150, 0.5);
        border-radius: 5px;

        margin: 10px 20px;
        padding: 0 10px;

        .title {
          font-weight: 700;
        }

        .text {
          margin: 10px 0;
        }
      }

      .warning {
        border: 1px solid rgba(255, 73, 117, 0.5);
      }
    }

    .bottom-right {
      width: 50%;
      text-align: center;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      align-items: center;
      justify-content: center;

      .recommendations {
        height: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .count {
          display: flex;
          flex-direction: row;

          .count-item {
            display: flex;
            flex-direction: column;

            padding: 10px;

            .count-stat {
              font-weight: 500;
              font-size: 2em;
            }
          }
        }
      }

      .suggestions {
        height: 50%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
