.feed {
  background-color: wheat;

  display: grid;
  grid-auto-rows: 1fr;
  grid-template-rows: 1fr;

  .feed__topic {
    margin-top: 60px;
    background-color: yellowgreen;

    display: grid;
    grid-template-columns: 30px 1fr 30px;
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      '_____ title title'
      'left articles right';
    .feed__topic-title {
      grid-area: title;
      margin: auto 0;
    }
    .feed__icon-left {
      grid-area: left;
      align-self: center;
      text-align: center;
    }
    .feed__icon-right {
      grid-area: right;
      align-self: center;
      text-align: center;
    }
    .feed__articles {
      grid-area: articles;
      overflow: hidden;

      display: flex;
      flex-wrap: nowrap;

      gap: 30px;

      .feed__article {
        flex-shrink: 0;
        width: 300px;
        height: 300px;
        align-self: center;
        justify-self: center;
        background-color: sandybrown;
      }
    }
  }
}
