.home {
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;

  .on-off-button {
    background-color: tan;
    text-align: center;
  }

  .bottom-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    .bottom-left {
      width: 50%;
      text-align: center;

      display: flex;
      flex-direction: column;

      justify-content: center;

      .checklist-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border: 1px solid rgba(53, 205, 150, 0.5);
        border-radius: 5px;

        margin: 10px 20px;
        padding: 0 10px;

        .title {
          font-weight: 700;
        }

        .text {
          margin: 10px 0;
        }
      }

      .warning {
        border: 1px solid rgba(255, 73, 117, 0.5);
      }
    }

    .bottom-right {
      width: 50%;
      background-color: coral;
      text-align: center;

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;

      .recommendations {
        height: 50%;
        background-color: cornflowerblue;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .count {
          display: flex;
          flex-direction: row;

          .count-item {
            display: flex;
            flex-direction: column;

            padding: 10px;

            .count-stat {
              font-weight: 500;
              font-size: 2em;
            }
          }
        }
      }

      .suggestions {
        height: 50%;
        background-color: crimson;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
