@import './_dashboard_home.scss';
@import './_dashboard_history.scss';
@import './_dashboard_feed.scss';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  min-height: 100vh;

  .header {
    grid-column: span 2;

    position: fixed;
    height: 60px;
    width: 100%;
    z-index: 10;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;

    position: sticky;

    .title {
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 0.4em;
    }
  }

  .menubar {
    position: fixed;
    top: 60px;
    width: 240px;
    height: calc(100vh - 60px);

    border-right: 1px solid #d2d2d2;

    .menubar-item {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      padding: 24px 0;

      color: #8a8a8a;

      &:hover {
        background-color: #e0e0e0;
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
      }
    }

    .active {
      color: #000000;
      // font-weight: 700;

      &:hover {
        background-color: #e0e0e0;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }

  .contents {
    grid-row: 2/-1;
    grid-column: 2/-1;

    width: 100%;
    background-color: #ffffff;
  }
}
