@import './_dashboard_home.scss';
@import './_dashboard_feed.scss';

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu;
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr;
  min-height: 100vh;

  .header {
    grid-column: 1/-1;
    background-color: #ffffff;
    border: 1px solid #d2d2d2;

    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      font-weight: 500;
      font-size: 1em;
      margin-bottom: 0.4em;
    }
  }

  .contents {
    grid-column: 2/-1;
  }

  .menubar {
    position: fixed;
    top: 60px;
    width: 240px;
    height: calc(100vh - 60px);

    background-color: slateblue;

    .menubar-item {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      padding: 24px 0;

      color: #ffffff;

      &:hover {
        background-color: #8758f9;
        -webkit-transition: background-color 0.3s ease;
        transition: background-color 0.3s ease;
      }
    }

    .active {
      background-color: #ffffff;

      color: slateblue;
      font-weight: 700;

      &:hover {
        color: #8758f9;
        background-color: #ffffff;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
    }
  }
}
