.root {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu;

  .wrapper {
    display: flex;
    .header-wrapper {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 110;
      .header {
        width: 100%;
        height: 48px;
        padding: 0 12px;

        background-color: #ffffff;

        .title {
          width: 100%;
          height: 100%;
          font-weight: 500;
          font-size: 1em;
          text-align: center;

          padding: 12px 0;
        }
      }
    }

    .page-wrapper {
      position: fixed;
      left: 0;
      top: 48px;
      height: calc(100vh - 48px);
      width: 100%;

      display: flex;
      flex-direction: row;
      .menubar {
        background-color: slateblue;

        max-width: 420px;
        width: 230px;

        .menubar-item {
          width: 100%;
          text-align: center;
          vertical-align: middle;
          padding: 24px 0;

          color: #ffffff;

          &:hover {
            background-color: #8758f9;
            -webkit-transition: background-color 0.3s ease;
            transition: background-color 0.3s ease;
          }
        }
      }

      .contents {
        width: calc(100% - 230px);
        background-color: skyblue;
      }
    }
  }
}
