.mainPopup {
  box-sizing: border-box;
  padding: 10px;
  width: 400px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Ubuntu;

  border-radius: 10px;

  .popupHeader {
    display: flex;
    flex-direction: column;

    h1 {
      font-size: 2em;
      align-self: flex-start;
    }
    select {
      align-self: flex-end;
    }
  }

  .feed {
    .feedItem {
      border-radius: 5px;
      border: 1px solid rgba($color: #000000, $alpha: 0.25);
      overflow: hidden;

      display: grid;
      grid-template-columns: 3fr 7fr;

      margin: 10px 0px;

      -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);
      box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.2);

      .feedItemLeft {
        position: relative;
        background-color: blue;
        // border-right: 10px solid rgba($color: #000000, $alpha: 0.25);
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .feedItemRight {
        padding: 10px;

        .title {
          margin-bottom: 10px;
          font-size: 1.1em;
          font-weight: 500;
        }
        .preview {
          margin-bottom: 10px;
          opacity: 60%;

          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        .info {
          .sentiment {
            color: #ff4976;
          }
        }
      }
    }
  }
}
